@use "abstracts/filter-basic-html";

.ck-editor {
  max-width: calc(51rem + 2em + 2px);
}

[data-editor-active-text-format] ~ .ck-editor .ck-content {
  @import "base/*";
  @import "styles/*";

  padding: 1em;
}

[data-editor-active-text-format="basic_html"] ~ .ck-editor .ck-content {
  @include filter-basic-html.component();
}
