@use "../breakpoints";
@use "../config/grid" as config;

@mixin base($auto-place-columns: true) {
  display: grid;
  grid-template-columns:
    [viewport-start] #{config.$outside-gutter-mobile}
    [content-start] minmax(0, 1fr) [content-end]
    #{config.$outside-gutter-mobile} [viewport-end];

  @if ($auto-place-columns) {
    > * {
      grid-column: content-start / content-end;
    }
  }

  @include breakpoints.from(breakpoints.$small) {
    column-gap: config.$gutter;
    grid-template-columns:
      [viewport-start] minmax(calc(#{config.$outside-gutter-desktop} - #{config.$gutter}), 1fr)
      [content-start] repeat(12, [c] minmax(0, calc((#{config.$max-content-width} - (#{config.$gutter} * 11)) / 12))) [c content-end]
      minmax(calc(#{config.$outside-gutter-desktop} - #{config.$gutter}), 1fr) [viewport-end];
  }
}

@mixin inline($columns: 12) {
  @if $columns < 2 {
    @error "Inline grid should have atleast two columns";
  }

  display: grid;
  grid-template-columns: [start] minmax(0, 1fr) [end];

  @include breakpoints.from(breakpoints.$small) {
    column-gap: config.$gutter;
    grid-template-columns: [start] repeat(#{$columns}, [c] minmax(0, calc((#{config.$max-content-width} - (#{config.$gutter} * #{$columns - 1})) / #{$columns}))) [c end];
  }
}
