
@mixin fragment($size: cover) {
  picture {
    background-position: center center;
    background-size: $size;
    display: block;
    height: 100%;
    width: 100%;

    @if $size == contain {
      background-repeat: no-repeat;
    }
  }

  img {
    display: block;
    height: 100%;
    margin: auto;
    max-width: none;
    object-fit: $size;
    width: 100%;
  }
}
