
/// Hide elements visually, but keep them available for screen readers.
///
/// Used for information required for screen reader users to understand and use
/// the site where visual display is undesirable. Information provided in this
/// manner should be kept concise, to avoid unnecessary burden on the user.
/// "!important" is used to prevent unintentional overrides.

@mixin fragment() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

/// The .focusable class extends the .visually-hidden class to allow
/// the element to be focusable when navigated to via the keyboard.
@mixin fragment--focusable() {
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    overflow: visible;
    position: static !important;
    width: auto;
  }
}
