{% set bem_block = 'block-' ~ id|split('__', 2)|first|clean_class %}
{% set bem_modifiers = id|split('__')|slice(1) %}
{%
  set classes = [
    region ? 'region-' ~ region|clean_class ~ '__' ~ id|split('__', 2)|first|clean_class,
    bem_block
  ]
%}
{% for modifier in id|split('__')|slice(1) %}
  {% set classes = classes|merge([bem_block ~ '--' ~ modifier|clean_class]) %}
{% endfor %}
{% set content %}{% apply spaceless %}{{ content }}{% endapply %}{% endset %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes.addClass(bem_block ~ '__title') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  </div>
{% endif %}
