{% extends "field.html.twig" %}

{% block item %}
  {% set format = element['#items'].format|clean_class %}

  <div{{ item.attributes.addClass(bem_element_prefix ~ 'item', format ? 'text-' ~ format) }}>
    {{- item.content -}}
  </div>
{% endblock %}
