{% extends "field.html.twig" %}

{% set view = element['#object'].view__view %}
{% set bem = 'paragraph-' ~ (bundle ~ '-' ~ view.view_name ~ '-' ~ view.view_display ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class ~ '__' ~ field_name|replace({(bundle ~ '__'): ''})|clean_class %}
