{% block page_states %}
  <div id="state-navbar" hidden></div>
  <div id="state-search" hidden></div>
{% endblock %}

<div class="page">
  {% block page_header %}
    <header class="page__header page-header">
      {{ page.navbar|add_class('page-header__navbar') }}

      {{ page.topbar|add_class('page-header__topbar') }}

      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {{ page.header|add_class('page-header__header') }}
    </header>
  {% endblock %}

  {% block page_body %}
    <main class="page__body page-body">
      {{ page.content_top|add_class('page-body__content-top') }}

      {{ page.content|add_class('page-body__content') }}
    </main>
  {% endblock %}

  {% block page_footer %}
    <footer class="page__footer page-footer">
    {{ page.footer|add_class('page-footer__footer') }}
    </footer>
  {% endblock %}
</div>
