{% if will_have_output('content', 'view__view', 0) %}
  {%
    include "paragraph.html.twig" with {
      'bem_block': ('paragraph-' ~ paragraph.bundle ~ '-' ~ paragraph.view__view.view_name ~ '-' ~ paragraph.view__view.view_display ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class
    }
  %}
{% endif %}
