{%
  set bem_block = bem_block ?: ('paragraph-' ~ paragraph.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class
%}
{%
  set classes = [
    bem_block,
    paragraph.size.value ? bem_block ~ '--' ~ paragraph.size.value,
    paragraph.padding.value ? bem_block ~ '--' ~ paragraph.padding.value,
    paragraph.align.value ? bem_block ~ '--' ~ paragraph.align.value,
    paragraph.colors.value ? bem_block ~ '--' ~ paragraph.colors.value,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block paragraph %}
    {% if paragraph.anchor.value %}
      <a class="{{ bem_block }}__anchor" id="{{ paragraph.anchor.value|valid_anchor }}" tabindex="-1"></a>
    {% endif %}
    {{ content.background_image }}
    <div class="{{ bem_block }}__content">
      {% block content %}
        {{ content|without('background_image') }}
      {% endblock %}
    </div>
  {% endblock %}
</div>
