{% extends "region.html.twig" %}

{% block content %}
  {{ content }}

  <nav class="{{ bem_block }}__states block-states">
    <a class="block-states__link block-states__link--back" href="#" hidden>
      <span class="block-states__link-label">{% trans %}Back{% endtrans %}</span>
    </a>

    <a class="block-states__link block-states__link--search" href="#state-search">
      <span class="block-states__link-label">{% trans %}Search{% endtrans %}</span>
    </a>

    <a class="block-states__link block-states__link--navbar" href="#state-navbar">
      <span class="block-states__link-label">{% trans %}Menu{% endtrans %}</span>
    </a>
  </nav>
{% endblock %}
