
// color palette
// based upon material design [https://www.google.com/design/spec/style/color.html#color-color-palette]

$black: #000;
$white: #fff;

$gray--50: #fcfcfc;
$gray--100: #f9f9f9;
$gray--200: #ebebeb;
$gray--300: #e0e0e0;
$gray--400: #d3d3d3;
$gray--500: #a5a5a5;
$gray--600: #737373;
$gray--700: #616161;
$gray--900: #212121;
$gray--1000: #040404;

$blue--500: #0b77bd;

// color theme.
$primary: $gray--900;
$secondary: $gray--900;
$accent: $gray--700;

$text: $black;
$heading: $primary;
$link: $blue--500;
$link--hover: darken($blue--500, 5%);

// color named.
$status-ok: #325e1c;
$status-ok--light: #c9e1bd;
$status-warning: #734c00;
$status-warning--light: #f4daa6;
$status-error: #d90000;
$status-error--light: #f9c9bf;

$facebook: #3a5897;
$linkedin: #0077b5;
$twitter: #2ea8d2;
$youtube: #cc181e;
