
$font-family-roboto: roboto, sans-serif;

$font-family-base: $font-family-roboto;
$font-family-heading: $font-family-roboto;
$font-family-sub-heading: $font-family-roboto;
$font-family-button: $font-family-roboto;
$font-family-input: $font-family-roboto;

$font-weight--thin: 100;
$font-weight--extra-light: 200;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;
$font-weight--extra-bold: 800;
$font-weight--black: 900;

// Define the font types with a variable to enable
// auto complete in the font() mixin.

// Base
$text: text;
$text--small: text--small;

// Headings
$heading-a: heading-a;
$heading-b: heading-b;
$heading-c: heading-c;
$heading-d: heading-d;
$heading-e: heading-e;
$heading-f: heading-f;

// Menus
$menu-item--main: menu-item--main;
$menu-item--top: menu-item--top;

// Elements
$button: button;
$input: input;
$intro: intro;
$kicker: kicker;
$label: label;

$fonts: (
  base: (
    base: (
      font-family: $font-family-base,
      font-size: 1rem,      // 16px
      line-height: 1.75,    // 28px
    ),
    large: (
      font-size: 1.125rem,  // 18px
      line-height: 2,       // 36px
    )
  ),

  // paragraph text
  #{$text}: (
    base: (
      font-size: 1rem,      // 16px
      line-height: 1.75,    // 28px
    ),
    large: (
      font-size: 1.25rem,   // 20px
      line-height: 2,       // 40px
    )
  ),

  #{$text--small}: (
    base: (
      font-size: .75rem,      // 12px
      line-height: 1.666666666666667,    // 20px
    ),
    large: (
      font-size: .875rem,      // 14px
      line-height: 1.714285714285714,    // 24px
    ),
  ),

  // Page title, h2 on landing pages
  #{$heading-a}: (
    base: (
      font-family: $font-family-heading,
      font-size: 2.5rem,    // 40px
      font-weight: $font-weight--bold,
      line-height: 1,       // 40px
    ),
    large: (
      font-size: 3rem,      // 60px
    )
  ),

  // h3 on landing pages
  #{$heading-b}: (
    base: (
      font-family: $font-family-heading,
      font-size: 2.1875rem, // 35px
      font-weight: $font-weight--bold,
      line-height: 1,       // 35px
    ),
    large: (
      font-size: 2.8125rem, // 45px
    )
  ),

  // h2 for body text
  #{$heading-c}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.875rem,  // 30px
      font-weight: $font-weight--bold,
      line-height: 1,       // 30px
    ),
    large: (
      font-size: 2.1875rem, // 35px
    )
  ),

  #{$heading-d}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.5rem,    // 24px
      font-weight: $font-weight--light,
      line-height: 1,       // 24px
    ),
    large: (
      font-size: 1.875rem,  // 30px
    )
  ),

  // h3 for body text
  #{$heading-e}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.25rem,   // 20px
      font-weight: $font-weight--bold,
      line-height: 1,       // 20px
    ),
    large: (
      font-size: 1.75rem,   // 28px
    )
  ),

  // h4? for body text
  #{$heading-f}: (
    base: (
      font-family: $font-family-heading,
      font-size: 1.25rem,   // 20px
      font-weight: $font-weight--bold,
      line-height: 1,       // 20px
    ),
    large: (
      font-size: 1.375rem,  // 22px
    )
  ),

  #{$menu-item--main}: (
    base: (
      font-size: 1.125rem,    // 18px
      line-height: 1.11111, // 20px
    ),
    medium: (
      font-size: 1.25rem,   // 20px
      line-height: 1.25,    // 25px
    )
  ),

  #{$menu-item--top}: (
    base: (
      font-size: 1.125rem,  // 18px
      line-height: 1.11111, // 20px
    ),
    medium: (
      font-size: 1.25rem,   // 20px
      line-height: 1.25,    // 25px
    )
  ),

  #{$button}: (
    base: (
      font-family: $font-family-button,
      font-size: .75rem,        // 14px
      line-height: 1.57142857,  // 22px
      font-weight: $font-weight--extra-bold,
    ),
    large: (
      font-size: 1rem,      // 16px
      line-height: 1.5,     // 24px
    )
  ),

  #{$input}: (
    base: (
      font-family: $font-family-input,
      font-size: 1rem,    // 16px
      font-weight: $font-weight--normal,
      line-height: 1.5,   // 24px
    ),
  ),

  #{$intro}: (
    base: (
      font-size: 1.625rem,  // 26px
      line-height: 1.5,     // 39px
    ),
    large: (
      font-size: 1.875rem,  // 30px
      line-height: 1.666667,// 50px
    )
    ),

    #{$kicker}: (
      base: (
        font-size: .625rem,      // 10px
        font-weight: $font-weight--normal,
        letter-spacing: .3em,
        line-height: 2.2,    // 22px
        text-transform: uppercase,
      ),
      large: (
        font-size: .75rem,    // 12px
        line-height: 2,       // 24px
      )
    ),

    // carousel buttons, button label, input label
    #{$label}: (
      base: (
        font-size: .75rem,        // 14px
        line-height: 1.57142857,  // 22px
        font-weight: $font-weight--extra-bold,
      ),
      large: (
        font-size: 1rem,      // 16px
        line-height: 1.5,     // 24px
      )
    ),
  );
