// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$icons: (
  arrow-down: "\ea01",
  arrow-left: "\ea02",
  arrow-right: "\ea03",
  arrow-up: "\ea04",
  check: "\ea05",
  chevron-left: "\ea06",
  chevron-right: "\ea07",
  close: "\ea08",
  facebook: "\ea09",
  google-plus: "\ea0a",
  home: "\ea0b",
  menu: "\ea0c",
  search: "\ea0d",
  twitter: "\ea0e",
  youtube: "\ea0f",
);
