@use "../config/colors";

$background-color: colors.$gray--100;

$border-color: colors.$gray--300;
$border-color--hover: lighten(colors.$blue--500, 50%);
$border-color--focus: colors.$blue--500;
$border-color--error: colors.$status-error;
$border-width: .0625rem;
$border-radius: .125rem;

$color: colors.$text;
$color--placeholder: colors.$gray--600;
