@use "../breakpoints";
@use "../colors";

#state-navbar:target {
  ~ .page {
    @include breakpoints.below(breakpoints.$xsmall) {
      .region-navbar {
        transform: translate3d(0, 0, 0);
        z-index: 15;
      }
    }
  }
}
