@use "../../../../../node_modules/select2/src/scss/core";

.select2-container {
  max-width: 100%;
  min-width: #{'min(24.75rem, 100%)'};
}

.select2-container--default {
  .select2-selection--single {
    border-radius: 2px;
    height: 48px;
    padding: calc(.75rem - 1px) calc(1rem - 1px);
  }

  .select2-selection--single .select2-selection__arrow {
    right: 6px;
    top: 10px;
  }

  .select2-selection--multiple {
    border-radius: 2px;
    min-height: 48px;
    position: relative;
  }

  .select2-selection--multiple::before {
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0;
    content: " ";
    display: block;
    height: 0;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 0;
  }

  .select2-selection--multiple .select2-selection__rendered {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px 8px;
    width: 100%;
  }

  .select2-selection--multiple .select2-selection__choice {
    border: 0;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 8px;
    padding: 5px 8px;
  }

  &.select2-container--open {
    z-index: 100000;

    .select2-selection--multiple::before {
      border-bottom-color: #333;
      border-top-color: transparent;
      border-width: 0 4px 5px;
    }
  }
}

.select2-dropdown {
  z-index: 1500;
}
