
.view-watchdog {
  @media screen and (min-width: 768px) {
    .form-item--uid {
      max-width: 15rem;
    }

    .form-item--timestamp-op,
    .form-item--message-op {
      max-width: 9rem;
    }
  }
}
