@use "../abstracts/button";
@use "../abstracts/input-base";
@use "../abstracts/input-checkable";
@use "../abstracts/input-select";
@use "../abstracts/input-text";
@use "../abstracts/input-textarea";
@use "../colors";
@use "../fonts";
@use "../rhythm";

input {
  @include input-base.component();

  &:read-only {
    background-color: colors.$gray--100;
    border-color: colors.$gray--300;
    color: colors.$gray--900;
  }
}

select {
  @include input-select.component();
}

input[type="checkbox"] {
  @include input-checkable.checkboxes();

  & + label {
    @include fonts.font(fonts.$input);
  }
}

input[type="radio"] {
  @include input-checkable.radio();

  & + label {
    @include fonts.font(fonts.$input);
  }
}

input[type="file"] {
  height: auto;
}

input[type="search"] {
  appearance: none;
  box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button.component();
}

input[type="text"] {
  @include input-text.component();
}

textarea {
  @include input-textarea.component();
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  @include fonts.font(fonts.$label);

  margin-bottom: .5rem;
}

label {
  @include fonts.font(fonts.$label);

  display: block;
}
