@use "../abstracts/selection";
@use "../colors";
@use "../icons";
@use "../fonts";

// sass-lint:disable no-url-domains
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700,800");

@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icons.eot?#{icons.$icons-cachebust}");
  src:
    url("../fonts/icons.eot?#{icons.$icons-cachebust}") format("embedded-opentype"),
    url("../fonts/icons.woff?#{icons.$icons-cachebust}") format("woff"),
    url("../fonts/icons.ttf?#{icons.$icons-cachebust}") format("truetype");
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  @include selection.component();
}

html {
  box-sizing: border-box;
}

body {
  @include fonts.font(base);

  background-color: colors.$white;
  color: colors.$text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

main {
  display: block;
}
