@use "../rhythm";

figure {
  margin: rhythm.line() 0;
}

figcaption {
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

video,
iframe {
  border: 0;
  max-width: 100%;
}

video {
  width: 100%;
}
