@use "../colors";

table {
  border: 0;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    border: 0;
    border-bottom: 1px solid colors.$gray--700;
    padding: .45em .5em .25em;
  }

  th {
    background-color: colors.$gray--50;
    color: colors.$gray--1000;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
  }

  td {
    vertical-align: top;
  }
}
