@use "../abstracts/link-default";
@use "../colors";
@use "../fonts";
@use "../rhythm";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  page-break-after: avoid;

  a {
    color: inherit;
    font: inherit;
    text-decoration: none;
  }

  strong {
    font-weight: bolder;
  }
}

p {
  margin: 0;

  a {
    @include link-default.component();
  }
}

ul,
ol {
  margin: 0 0 rhythm.line();
  padding: 0 0 0 1em;
}
