@use "../colors";
@use "../fonts";
@use "../rhythm";
@use "../util/reset";
@use "../util/visually-hidden";

@mixin component() {
  margin: rhythm.line() 0;
  padding: 0;

  &__label {
    @include visually-hidden.fragment();
  }

  &__list {
    @include fonts.font(fonts.$label);
    @include reset.ul();
  }

  &__item {
    display: inline;
    margin: 0;
    padding: 0;

    &::before {
      content: " / ";
    }

    &:first-child::before {
      content: none;
    }
  }

  &__item-link {
    color: colors.$link;
  }
}
