@use "../abstracts/button-colors";
@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../rhythm";
@use "../spacing";

// Displays an element as a button.
@mixin component($background: colors.$secondary, $foreground: colors.$white) {
  @include button-colors.component($background, $foreground);
  @include fonts.font(fonts.$button);

  appearance: none;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  margin: rhythm.line(calc(1 / 6)) spacing.fragment() rhythm.line(calc(1 / 6)) 0;
  padding: .75rem spacing.fragment(large);
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: .2s;
  vertical-align: middle;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:disabled {
    color: rgba(255, 255, 255, .7);
  }
}

@mixin abstract-button--ghost() {
  background: transparent;
}

@mixin abstract-button-large() {
  @include button.component();

  padding: rhythm.line() spacing.fragment(large);

  @include breakpoints.below(breakpoints.$xsmall) {
    width: 100%;
  }
}

@mixin abstract-button-large--ghost() {
  background: transparent;
}
