@use "../fonts";
@use "../icons";
@use "../rhythm";

// Displays an icon before or after the text of a button.
@mixin component($icon, $position: before) {
  font-size: 0;

  @include icons.icon($position, $icon) {
    display: inline-block;
    font-size: $base-font-size;
    margin-left: -1px;
    margin-right: -1px;
    text-align: center;
    vertical-align: middle;
    width: rhythm.line(calc(1 / 3), 5);
  }
}
