@use "../abstracts/more-link";
@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../util/object-fit";

@mixin component($kicker) {
  box-shadow: 0 .125rem 1.5rem rgba(0, 0, 0, .1);
  position: relative;
  transition: box-shadow .1s, transform .1s;

  &:hover,
  &:focus {
    box-shadow: 0 .625rem 1.75rem rgba(0, 0, 0, .125);
    transform: translateY(-.5rem);
  }

  &:active {
    box-shadow: 0 .625rem .75rem rgba(0, 0, 0, .075);
    transform: translateY(-.25rem);
  }

  &__image {
    @include object-fit.fragment();
  }

  &__content {
    padding: 1.5rem;
  }

  &__#{$kicker} {
    @include fonts.font(fonts.$kicker);

    color: colors.$primary;
    margin-bottom: .5rem;
  }

  &__title {
    @include fonts.font(fonts.$heading-f);
  }

  &__link {
    @include more-link.component();

    margin-top: 1.25rem;

    a::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: 1;
    }
  }
}
