@use "../abstracts/link-default";
@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../rhythm";

@mixin component() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      color: colors.$link;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h2 {
    @include fonts.font(fonts.$heading-c);

    color: colors.$heading;
    margin: 0 0 rhythm.line(calc(1 / 2));
  }

  h3 {
    @include fonts.font(fonts.$heading-e);

    color: colors.$heading;
    margin: 0 0 rhythm.line(calc(1 / 2));
  }

  h4 {
    @include fonts.font(fonts.$heading-f);

    color: colors.$heading;
    margin: 0 0 rhythm.line(calc(1 / 2));
  }

  h5 {
    @include fonts.font(fonts.$text);

    color: colors.$heading;
    margin: 0 0 rhythm.line(calc(1 / 2));
  }

  h6 {
    @include fonts.font(fonts.$text);

    color: colors.$heading;
    margin: 0 0 rhythm.line(calc(1 / 2));
  }

  p {
    &:not([class]) {
      @include fonts.font(fonts.$text);
    }

    &:not(:last-of-type) {
      margin: 0 0 rhythm.line();
    }
  }

  hr {
    margin: rhythm.line() 0;
  }

  ul,
  ol,
  table {
    a {
      @include link-default.component();
    }
  }
}
