@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../grid";
@use "../rhythm";
@use "../util/object-fit";

@mixin component($padding: 2, $padding-top: $padding, $padding-bottom: $padding, $content-grid: true) {
  @include grid.base();

  padding-bottom: .1px;
  padding-top: .1px;
  page-break-inside: avoid;
  position: relative;
  width: 100%;

  &__content {
    clear: both;
    margin-bottom: rhythm.line();
    margin-top: rhythm.line();
    position: relative;

    @if $content-grid {
      @include grid.base();

      grid-column: viewport-start / viewport-end;
    }

    @include breakpoints.from(breakpoints.$xsmall) {
      margin-bottom: rhythm.line($padding-bottom);
      margin-top: rhythm.line($padding-top);
    }
  }
}

@mixin align($element: content) {
  &--left &__#{$element} {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 1 / span 6;
    }
  }

  &--center &__#{$element} {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 4 / span 6;
    }
  }

  &--right &__#{$element} {
    @include breakpoints.from(breakpoints.$small) {
      grid-column: c 7 / span 6;
    }
  }
}

@mixin background-image() {
  &__background-image {
    @include object-fit.fragment();

    bottom: 0;
    grid-column: viewport-start / viewport-end;
    overflow: hidden;
    top: 0;
    z-index: -1;
  }
}

@mixin colors($background: true) {
  &--neutral-light {
    @if $background {
      background-color: colors.$gray--50;
    }

    color: colors.$text;
  }
}

@mixin size() {
  &--small &__content {
    min-height: 10vh;

    @include breakpoints.from(breakpoints.$xsmall) {
      min-height: rhythm.line(9);
    }
  }

  &--medium &__content {
    min-height: 17.5vh;

    @include breakpoints.from(breakpoints.$xsmall) {
      min-height: rhythm.line(17);
    }
  }

  &--large &__content {
    min-height: 30vh;

    @include breakpoints.from(breakpoints.$xsmall) {
      min-height: rhythm.line(26);
    }
  }
}
