@use "../abstracts/selection";
@use "../colors";

@mixin component() {
  @include selection.component($text: colors.$text);

  color: colors.$link;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: colors.$link--hover;
    text-decoration: none;
  }
}
