@use "../colors";
@use "../fonts";
@use "../icons";

@mixin component($color: colors.$link, $color--hover: colors.$link--hover) {
  a {
    @include icons.icon(after, chevron-right);

    align-items: center;
    color: $color;
    display: flex;
    padding-right: 2em;
    text-decoration: none;

    &::after {
      transition: transform .1s;
    }

    &:focus,
    &:hover {
      color: colors.$link--hover;
      padding-right: 2.25em;

      &::after {
        transform: translateX(.25rem);
      }
    }
  }
}
