@use "../colors";
@use "../rhythm";
@use "../spacing";

@mixin component() {
  &__items {
    list-style: none;
    margin: 0 0 rhythm.line();
    padding: 0;
  }

  &__item {
    display: inline-block;
    line-height: rhythm.line(2);

    a {
      color: colors.$gray--900;
      display: block;
      font-weight: bold;
      min-width: rhythm.line(2);
      text-align: center;
      text-decoration: none;

      &:focus,
      &:hover {
        background: colors.$gray--50;
      }
    }
  }

  &__item--first,
  &__item--previous,
  &__item--next,
  &__item--last {
    a {
      padding: 0 spacing.fragment();
    }
  }

  &__item.is-active {
    a {
      background: colors.$primary;
      color: colors.$white;
    }
  }
}
