@use "../colors";

@mixin component($color: colors.$primary, $text: colors.$white, $child: true) {
  @if $child == false {
    &::selection {
      background: $color;
      color: $text;
      text-shadow: none;
    }
  }
  @else {
    &::selection,
    & *::selection {
      background: $color;
      color: $text;
      text-shadow: none;
    }
  }
}
