@use "../colors";
@use "../rhythm";
@use "../spacing";
@use "../util/reset";

@mixin component() {
  @include reset.ul();

  margin-bottom: rhythm.line(calc(1 / 2));
  margin-top: rhythm.line(calc(1 / 2));

  &__item {
    display: inline-block;

    a {
      background: transparent;
      border-radius: .2em;
      color: colors.$gray--900;
      display: block;
      font-size: .75rem;
      padding: 0 spacing.fragment();
      text-decoration: none;
      text-transform: uppercase;

      &:focus,
      &:hover {
        background-color: rgba(colors.$black, .3);
        color: colors.$white;
      }
    }
  }

  &__item--is-active {
    a {
      background-color: rgba(colors.$black, .8);
      color: colors.$white;
    }
  }
}
