@use "../breakpoints";
@use "../fonts";
@use "../rhythm";

.block-sitebranding {
  @include breakpoints.below(breakpoints.$xsmall) {
    float: left;
  }

  a {
    display: block;
  }

  img {
    display: block;
    height: rhythm.line(2);
    padding: rhythm.line(calc(1 / 2)) 0;
    transition: height .3s, padding .3s;

    @include breakpoints.from(breakpoints.$xsmall) {
      height: 6rem;
      margin-top: 1.5rem;
    }
  }
}
