@use "../abstracts/toolbar-offset";
@use "../breakpoints";
@use "../colors";
@use "../icons";
@use "../fonts";
@use "../rhythm";
@use "../spacing";
@use "../util/reset";

.block-mainnavigation {
  @include breakpoints.from(breakpoints.$xsmall) {
    @include toolbar-offset.component();

    margin-bottom: rhythm.line(calc(1 / 2));
    margin-top: rhythm.line(calc(1 / 2));
    min-height: rhythm.line(2);
    transition: background .3s, margin .3s, min-height .3s, transform .3s;
    z-index: 10;
  }
}

.block-mainnavigation__menu {
  @include reset.ul();

  @include breakpoints.below(large) {
    color: colors.$white;
  }

  @include breakpoints.from(breakpoints.$xsmall) {
    color: colors.$black;
    float: right;
  }
}

.block-mainnavigation__menu-item {
  @include fonts.font(fonts.$menu-item--main);

  line-height: rhythm.line(calc(2 / 3));
  text-transform: uppercase;

  @include breakpoints.from(breakpoints.$xsmall) {
    float: left;
  }
}

.block-mainnavigation__menu-item-link {
  color: inherit;
  display: block;
  padding: rhythm.line(calc(1 / 2)) 0;
  text-decoration: none;

  @include breakpoints.from(breakpoints.$xsmall) {
    display: block;
    margin-left: spacing.fragment();
    padding: rhythm.line(calc(2 / 3)) spacing.fragment();

    &.is-active {
      color: colors.$primary;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
