@use "../rhythm";
@use "../util/visually-hidden";

.block-search-form {
  padding-bottom: rhythm.line();

  form {
    display: flex;
  }

  .form-item {
    margin: 0;
  }

  .form-item__label {
    @include visually-hidden.fragment();
  }

  button,
  input {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}
