@use "../fonts";
@use "../rhythm";

.block-pagetitle {
  padding-bottom: rhythm.line();
  padding-top: rhythm.line();
  position: relative;
  z-index: 1;

  h1 {
    @include fonts.font(fonts.$heading-a);

    margin-bottom: 0;
  }
}
