@use "../breakpoints";
@use "../colors";
@use "../fonts";
@use "../icons";
@use "../rhythm";
@use "../spacing";
@use "../util/visually-hidden";

.block-states {
  height: rhythm.line(2);
  line-height: rhythm.line(2);
  text-align: right;

  @include breakpoints.below(breakpoints.$xsmall) {
    float: right;
  }

  @include breakpoints.between(breakpoints.$xsmall, breakpoints.$xsmall) {
    margin-bottom: rhythm.line(calc(1 / 2));
    margin-top: rhythm.line(calc(1 / 2));
  }

  @include breakpoints.from(breakpoints.$xsmall) {
    display: none;
  }
}

.block-states__link {
  border: 1px solid transparent;
  color: colors.$black;
  display: inline-block;
  height: rhythm.line(calc(1 / 3), 5);
  line-height: rhythm.line(calc(1 / 3), 5);
  min-width: rhythm.line(calc(1 / 3), 5);
  text-align: center;
  text-decoration: none;
  transition: border-color .2s;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 2;

  &:focus,
  &:hover {
    color: colors.$black;
  }

  &::before,
  &::after {
    font-size: 1.5em;
    vertical-align: middle;
  }

  &[hidden] {
    display: none;
  }
}

.block-states__link--back {
  @include icons.icon(before, arrow-left);

  .block-states__link-label {
    @include visually-hidden.fragment();
  }
}

.block-states__link--search {
  @include visually-hidden.fragment();
}

.block-states__link--navbar {
  @include icons.icon(after, menu);
}

.block-states__link-label {
  @include fonts.font(fonts.$label);

  @include breakpoints.below(breakpoints.$xsmall) {
    @include visually-hidden.fragment();
  }
}
