@use "../abstracts/toolbar-offset";
@use "../breakpoints";
@use "../colors";
@use "../icons";
@use "../fonts";
@use "../rhythm";
@use "../spacing";
@use "../util/reset";

.block-topnavigation {
  @include breakpoints.from(breakpoints.$xsmall) {
    @include toolbar-offset.component();

    margin-top: .5rem;
    overflow: hidden;
    transition: background .3s, margin .3s, min-height .3s, transform .3s;
    z-index: 10;
  }
}

.block-topnavigation__menu {
  @include reset.ul();

  @include breakpoints.below(breakpoints.$xsmall) {
    color: colors.$white;
  }

  @include breakpoints.from(breakpoints.$xsmall) {
    color: colors.$black;
    float: right;
  }
}

.block-topnavigation__menu-item {
  @include fonts.font(fonts.$menu-item--top);

  line-height: rhythm.line(calc(2 / 3));

  @include breakpoints.from(breakpoints.$xsmall) {
    float: left;
  }
}

.block-topnavigation__menu-item-link {
  color: inherit;
  display: block;
  padding: rhythm.line(calc(1 / 2)) 0;
  text-decoration: none;

  @include breakpoints.from(breakpoints.$xsmall) {
    padding: 0 spacing.fragment();

    &.is-active {
      color: colors.$primary;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
