@use "../colors";
@use "../fonts";
@use "../rhythm";

.form-item {
  margin-bottom: rhythm.line(calc(1 / 2));
}

.form-item__label {
  @include fonts.font(fonts.$label);

  display: block;
}

.form-item__label--required,
.form-item .fieldset-legend.form-required {
  &::after {
    color: colors.$gray--600;
    content: "*";
    margin-left: .5rem;
  }
}

.form-item__error {
  color: colors.$status-error;
}

.form-item__description {
  @include fonts.font(fonts.$text--small);
}
