@use "../breakpoints";
@use "../colors";
@use "../grid";
@use "../util/visually-hidden";

.maintenance-page {
  @include grid.base();

  align-items: center;
  background: colors.$gray--100;

  header {
    img {
      @include breakpoints.from(breakpoints.$xsmall) {
        width: 50%;
      }
    }

    h1,
    div {
      @include visually-hidden.fragment();
    }
  }
}
