@use "../abstracts/pager";

.pager {
  @include pager.component();
}

.pager--mini .pager__items {
  text-align: justify;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}
