@use "../abstracts/lane";
@use "../abstracts/lane-colors";
@use "../breakpoints";

.paragraph-text-lane {
  @include lane.component();
  @include lane-colors.component();
}

.paragraph-text-lane__body {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 1 / span 6;
  }
}

.paragraph-text-lane--left .paragraph-text-lane__body {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 1 / span 6;
  }
}

.paragraph-text-lane--right .paragraph-text-lane__body {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 7 / span 6;
  }
}

.paragraph-text-lane--center .paragraph-text-lane__body {
  @include breakpoints.from(breakpoints.$small) {
    grid-column: c 4 / span 6;
  }
}
