@use "../abstracts/lane";
@use "../abstracts/lane-colors";
@use "../colors";

.paragraph-visual-lane {
  @include lane.component();
  @include lane.background-image();
  @include lane-colors.component($background: false);
  @include lane.size();

  color: colors.$white;
}

.paragraph-visual-lane__background-image {
  left: 0;
  position: absolute;
  right: 0;
}

.paragraph-visual-lane--left .paragraph-visual-lane__body {
  grid-column: c 1 / span 6;
}

.paragraph-visual-lane--right .paragraph-visual-lane__body {
  grid-column: c 7 / span 6;
}

.paragraph-visual-lane--center .paragraph-visual-lane__body {
  grid-column: c 4 / span 6;
}
