@use "../colors";
@use "../fonts";
@use "../rhythm";

.paragraph-separator-lane {
  margin: rhythm.line(calc(1 / 6), -1) 0;

  &.contextual-region .contextual {
    top: 0;
  }
}

.paragraph-separator-lane__separator {
  margin: 0;
  z-index: 1;
}
