@use "../breakpoints";
@use "../colors";

.region-navbar {
  @include breakpoints.below(breakpoints.$xsmall) {
    background-color: colors.$black;
    height: 100%;
    overflow-y: auto;
    padding-left: 40px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform .4s ease-in-out 0s;
    z-index: 12;
  }

  @include breakpoints.below(breakpoints.$xsmall) {
    width: 100vw;
  }

  @include breakpoints.between(breakpoints.$xsmall, breakpoints.$xsmall) {
    width: 15em;
  }

  @include breakpoints.from(breakpoints.$xsmall) {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}
