@use "../abstracts/view";
@use "../rhythm";

.view-search-results {
  @include view.component();
}

.view-search-results__content--empty {
  margin-bottom: rhythm.line();
}

.view-search-results__row {
  margin-bottom: rhythm.line();
}
